<!DOCTYPE html>
<html lang="en">
<head>
  <script type="application/ld+json" class="reviews-schema" data-ref="8f1c02f2c86632baf5c939d12e0c09360773c68c" >
    {
        "@context": "https://schema.org", 
        "@type": "Product", 
        "name": "", 
        "aggregateRating": 
        { 
            "@type": "AggregateRating", 
            "ratingValue": 0.0, 
            "reviewCount": 0
        }
    }
     </script>
    <script src="https://embedsocial.com/cdn/rsh2.js"></script>  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Моє портфоліо</title>
  <link rel="stylesheet" href="./styles/index.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <header>
      <div class="row">
        <div class="col-12 d-flex justify-content-end">
          <div class="custom-dropdown mt-4 me-4 ms-4" @click="dropdown.state = !dropdown.state">
            <div class="custom-dropdown-box">
              <img :src="`./assets/icons/${currentLang.value}.svg`" :alt="currentLang.value" />
              <span style="margin-left: 4px;">
                {{ currentLang.text }}
              </span>

              <img :src="`./assets/icons/arrow_${dropdown.state ? 'up' : 'down'}.svg`" alt="arrow_down" class="arrow" />
            </div>
            <a :href="currentLang.link" style="color: white !important">
            <div v-if="dropdown.state" class="mt-2">
              <div v-for="lang of dropdownItems" :key="lang.value" class="custom-dropdown-box_item"
                @click="selectLang(lang)">
                <img :src="`./assets/icons/${lang.value}.svg`" :alt="lang.value" />
                  <span>
                    {{ lang.text }}
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-12 d-xl-none d-flex justify-content-center">
          <nav>
            <ol class="breadcrumb custom-nav d-flex align-items-center">
              <li class="breadcrumb-item custom-nav__item">
                <a href="#about">
                  Про мене
                </a>
              </li>
              <li class="breadcrumb-item custom-nav__item">
                <a href="#works">
                  Мої роботи
                </a>
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </header>
    <main>
      <div id="about" class="row main-container">
        <div class="col-xl-5 col-12 d-flex justify-content-center">
          <div class="main-card">
            <img src="./assets/me.jpg" alt="logo" />
            <span class="main-card_title">
              Катерина Макуха
            </span>
            <span class="main-card_subtitle">
              Веб-дизайнер
            </span>
            <span class="main-card_subtitle">
              <img src="./assets/icons/location.svg" alt="location" />
              Україна, Дніпро
            </span>
            <span class="main-card_subtitle_1">
              <a href="https://www.linkedin.com/in/kateryna-makukha-599b57244/" class="text-black">
                LinkedIn
              </a>
            </span>
            <span class="main-card_subtitle_1">
              <a href="mailto:kateryna.makukha@gmail.com" class="text-black">
                kateryna.makukha@gmail.com
              </a>
            </span>
            <span class="main-card_subtitle_1">
              <a href="tel: +380-50-770-80-18" class="text-black">
                +380-50-770-80-18
              </a>
            </span>
          </div>
        </div>
        <div class="col-xl-7 col-12">
          <div class="custom-card">
            <span class="custom-card-title">
              Про мене
            </span>
            <p class="custom-card-subtitle">
              Привіт мене звуть Катерина, і я UI/UX веб-дизайнер.
               Розробляю дизайн для малого, середнього та великого бізнесу.
               Вважаю, що сайт повинен виконувати поставлені завдання, бути зручним та естетичним.
               Люблю зрозумілі інтерфейси, тому віддаю перевагу мінімалізму.
            </p>
          </div>
        </div>
      </div>
      <div class="row main-container">
        <div class="col-md-6 col-12 d-flex justify-content-end">
          <div class="custom-card">
            <span class="custom-card-title">
              НАВИКИ
            </span>
            <ul class="custom-card-subtitle">
              <li>
                Графічний дизайн
              </li>
              <li>
                Світлина
              </li>
              <li>
                Анімація
              </li>
              <li>
                Макетування
              </li>
              <li>
                Figma
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-12 d-flex justify-content-center">
          <div class="custom-card" style="margin-right: 20%;margin-left: 0%">
            <span class="custom-card-title">
              ДОСВІД РОБОТИ
            </span>
            <p class="custom-card-subtitle">
              Два роки розробляю макети для салону краси,
               різний дизайн запрошень на весілля, банери, візитки, прайси.

               Півтора роки вивчаю веб-дизайн, маю три проекти.
            </p>
          </div>
        </div>
      </div>
      <div id="works" class="row">
        <div class="col-12 d-flex justify-content-center">
          <div class="custom-badge">
            Роботи
          </div>
        </div>
      </div>
      <div class="row works-container">
        <div class="col-xl-6 col-12 d-flex justify-content-center work-1">
          <a href="https://www.figma.com/file/luXI8W3hp994C0fM5m7XaC/Pet-Shop" title="Перейти до Figma"><img src="./assets/works/1.jpg"
              alt="1" /></a>
        </div>
        <div class="col-xl-6 col-12 d-flex justify-content-center work-2">
          <a href="https://www.figma.com/file/yoXICbuEtY9R3Li3fjaXDV/pharmacy" title="Перейти до Figma"> <img src="./assets/works/2.jpg"
              alt="2" /></a>
        </div>
        <div class="col-xl-6 col-12 d-flex justify-content-center work-3">
          <a href="https://www.figma.com/file/5JTlvR8hCl947wJ3PjmoId/Flowers" title="Перейти до Figma"> <img src="./assets/works/3.jpg"
              alt="3" /></a>
        </div>
        <div class="col-xl-6 col-12 d-flex justify-content-center work-4">
          <a href="https://www.figma.com/file/mLwhPzchnTWgbbcmALPp2G/Test-Park?node-id=0%3A1" title="Перейти до Figma"> <img src="./assets/works/9.png"
              alt="3" /></a>
        </div>
        <div class="col-12">
          <div class="row d-flex justify-content-xl-center ">
            <!-- <div class="col-xl-6 col-6 d-flex justify-content-xl-end">
              <img src="./assets/works/4.jpg" alt="4" />
            </div> -->
            <div class="col-xl-3 col-12">
              <div class="row">
                <div class="col-12 ">
                  <img src="./assets/works/5.jpg" alt="5" />
                </div>
                <div class="col-12 " style="margin-top: 36px">
                  <img src="./assets/works/6.jpg" alt="6" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-md-center">
          <div class="row">
            <div class="col-xl-6 col-12">
              <img src="./assets/works/7.jpg" alt="7" />
            </div>
            <div class="col-xl-6 col-12">
              <img src="./assets/works/8.jpg" alt="8" />
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="text-center m-5 mb-4">
      © 2020-2022. Portfolio. Всі права захищені <br />
      Розроблено в Figma.com
    </footer>
  </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    template: '',
    data: {
      dropdown: {
        items: [
          {
            text: 'UA',
            value: 'UA',
            link: 'index.html'
          },
          {
            text: 'EN',
            value: 'EN',
            link: 'index_en.html'
          },
          {
            text: 'RU',
            value: 'RU',
            link: 'index_ru.html'
          },

        ],
        selected: 'UA',
        state: false,
      },
    },
    computed: {
      dropdownItems() {
        return this.dropdown.items.filter(v => v.value !== this.dropdown.selected);
      },
      currentLang() {
        return this.dropdown.items.filter(v => v.value === this.dropdown.selected)[0];
      }
    },
    methods: {
      selectLang(lang) {
        this.dropdown.selected = lang.value;
        setTimeout(() => {
          this.dropdown.state = false;
        });
      }
    }
  });
</script>

</html>
<div class="embedsocial-hashtag" data-ref="8f1c02f2c86632baf5c939d12e0c09360773c68c"></div> <script> (function(d, s, id) { var js; if (d.getElementById(id)) {return;} js = d.createElement(s); js.id = id; js.src = "https://embedsocial.com/cdn/ht.js"; d.getElementsByTagName("head")[0].appendChild(js); }(document, "script", "EmbedSocialHashtagScript")); </script>